<app-toolbar></app-toolbar>
<h1 class="tituloHome">Escoge un curso</h1>
<div class="container">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title class="titulo">Fisica</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci, ab?</p>
    </mat-card-content>
    <mat-card-actions>
      <a
        routerLink="cursos"
        routerLinkActive="router-link-active"
        mat-flat-button
        color="warn"
        class="button"
        >Ver mas</a
      >
    </mat-card-actions>
  </mat-card>
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title class="titulo">Matematica</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, vel.</p>
    </mat-card-content>
    <mat-card-actions>
      <a
        routerLink="cursos"
        routerLinkActive="router-link-active"
        mat-flat-button
        color="warn"
        class="button"
        >Ver mas</a
      >
    </mat-card-actions>
  </mat-card>
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title class="titulo">Quimica</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odio, itaque?</p>
    </mat-card-content>
    <mat-card-actions>
      <a
        routerLink="cursos"
        routerLinkActive="router-link-active"
        mat-flat-button
        color="warn"
        class="button"
        >Ver mas</a
      >
    </mat-card-actions>
  </mat-card>
  <router-outlet></router-outlet>
</div>
